@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h1 class="Welcome1">BIENVENIDOS A LA AEROLINEA</h1>
    <h1 class="Welcome2">NEWSHOREFLY</h1>
    <br/>
    <p class="text"> Llegamos hasta donde usted nos necesita</p>
</div>