body {
    font-family: 'Acme', sans-serif;
}

header {
    background-color: gainsboro !important;
}

.logo {
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 80px;
    width: 130px;
}

li {
    display: inline;
    margin-right: 20px;
    font-size: 30px;
}

li > a {
        color: #546e7a;
}

.margin-Menu {
    margin-top: 45px;
    margin-left: 200px;
}

footer {
    background-color: #48add9 !important;
    padding: 20px;
}

.text-footer {
    color: white;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
}

.Welcome1 {
    color: #48add9 !important;
    font-weight: bold !important;
    font-family: 'Acme', sans-serif !important;
    letter-spacing: 5px !important;
    padding-top: 40px;
    text-align: center;
    font-size: 50px;
}

.Welcome2 {
    color: #48add9 !important;
    font-weight: bold !important;
    font-family: 'Acme', sans-serif !important;
    letter-spacing: 5px !important;
    padding-top: 40px;
    text-align: center;
    font-size: 60px;
}

.text {
    font-family: font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    color: #607d8b;
    letter-spacing: 1px;
    text-align: center;
    font-weight: bold;
}