body {
    font-family: 'Acme', sans-serif;
}

header {
    background-color: gainsboro !important;
}

.logo {
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 80px;
    width: 130px;
}

li {
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 35px;
}

li > a {
        color: #546e7a;
}

li:hover {
        border-bottom: 4px #48add9 solid;
        cursor: pointer;
}

.margin-Menu {
    margin-top: 45px;
    margin-left: 200px;
}

.footer {
    background-color: #48add9 !important;
    padding: 40px;
}

.text-footer {
    color: white;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
}

.Welcome1 {
    color: #48add9 !important;
    font-weight: bold !important;
    font-family: 'Acme', sans-serif !important;
    letter-spacing: 5px !important;
    padding-top: 40px;
    text-align: center;
    font-size: 75px;
}

.Welcome2 {
    color: #48add9 !important;
    font-weight: bold !important;
    font-family: 'Acme', sans-serif !important;
    letter-spacing: 5px !important;
    padding-top: 40px;
    text-align: center;
    font-size: 95px;
}

.text {
    font-family: font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    color: #607d8b;
    letter-spacing: 1px;
    text-align: center;
    font-weight: bold;
}

.datepicker-date-display {
    background-color: #48add9 !important;
}

.datepicker-table td.is-selected {
    background-color: #48add9 !important;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
    color: #48add9 !important;
}

h2 {
    font-family: 'Acme', sans-serif;
    font-size: 40px;
    color: #607d8b;
    letter-spacing: 1.5px;
    text-align: center;
}

.input-field {
    margin-top: 0rem !important;
}

.FindButton {
    background-color: #48add9;
    width: 120px !important;
    border: none;
    height: 30px !important;
    border-radius: 10px;
    color: white;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 20px;
}


